<% content_for :box_width, "col-md-8" %>


<%= form_for(@intervenant,:html => { :class => 'from-inline'}) do |f| %>
  <div class="box-body">

    <div class="row">
      <div class="form-group">
        <%= f.label :code, class: 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.text_field :code, :class => 'form-control', placeholder: :code, :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :nom, class: 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.text_field :nom, :class => 'form-control', placeholder: 'Nom Prénom', :required => true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :telephone, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.telephone_field :telephone, :class => 'form-control', placeholder: :telephone %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :email, :class => 'form-control', placeholder: :email%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Spécialité', class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.collection_select(:specialite_id, Specialite.all, :id, :nom, {}, { :class => 'select2 select2-custom' })%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Qualité', class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.collection_select(:qualite_id, Qualite.all, :id, :nom, {}, { :class => 'select2 select2-custom' })%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group">
        <%= f.label :cout_horaire, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :cout_horaire, :class => 'form-control', placeholder: :cout_horaire %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Date Embauche", :class => 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <div class="input-group date">
            <%= f.text_field :date_embauche, :class => 'form-control pull-right datepicker', placeholder: 'Date Embauche' %>
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Région', class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.collection_select(:region_id, Region.all, :id, :nom, {}, { :class => 'select2 select2-custom' })%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :adresse, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_area :adresse, :class => 'form-control', placeholder: :adresse %>
        </div>
      </div>
    </div>


  </div>


  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
    </button>
    <a href="<%= intervenants_url %>" class="btn btn-default pull-right">
      <i class="fa fa-times" aria-hidden="true"></i> Annuler
    </a>
  </div>
<% end %>