<% content_for :box_width, "col-md-10" %>

<% content_for :page_title do %>
  Liste Intervenants
<% end %>

<div class="box-body">
  <table class="sortable datatable table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Qualité</th>
        <th>Spécialité</th>
        <td class="actions no-sort"></td>
      </tr>
    </thead>

    <tbody>
      <% @intervenants.each do |intervenant| %>
        <tr>
          <td><%= intervenant.code %></td>
          <td><%= intervenant.nom %></td>
          <td><%= intervenant.telephone %></td>
          <td><%= intervenant.email %></td>
          <td><%= intervenant.qualite.nom %></td>
          <td><%= intervenant.specialite.nom %></td>
          <td class="actions">
            <%= link_to edit_intervenant_path(intervenant) do %>
              <%= fa_stacked_icon "pencil inverse", base: "circle", class: "edit fa-1x" %>
            <% end %>

            <%= link_to intervenant, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet élément?' } do %>
              <%= fa_stacked_icon "trash inverse", base: "circle", class: "delete fa-1x" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_intervenant_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus' %> Nouveau Intervenant
  <% end %>
</div>
