<% content_for :box_width, "col-md-9" %>

<% content_for :page_title do %>
   Edition Profil
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'from-inline'}) do |f| %>
<%= devise_error_messages! %>

<div class="box-body">
  <div class="row">
    <div class="form-group">
      <%= f.label :nom, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :nom, :class => 'form-control'%>
          </div>
    </div>
  </div>

    <div class="row">
      <div class="form-group">
          <%= f.label :email, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.email_field :email, :class => 'form-control', placeholder: :Email%>
          </div>
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :current_password, class: 'col-sm-4 control-label required' %>
      <div class="col-sm-8">
        <%= f.password_field :current_password, :class => 'form-control', :required => true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
       <%= f.label 'Nouveau Mot de passe', class: 'col-sm-4 control-label' %>
       <div class="col-sm-8">
          <%= f.password_field :password, :class => 'form-control', placeholder: "Laisser en blanc si vous ne voulez pas changer"%>
       </div>
    </div>
  </div>

     <div class="row">
        <div class="form-group">
            <%= f.label :password_confirmation, class: 'col-sm-4 control-label' %>
            <div class="col-sm-8">
               <%= f.password_field :password_confirmation, :class => 'form-control'%>
            </div>
        </div>
     </div>
  </div>

  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
    </button>
    <a href="<%#= users_url %>" class="btn btn-default pull-right">
      <i class="fa fa-times" aria-hidden="true"></i> Annuler
    </a>
  </div>
<% end %>
<!--<h3>Supprimer le Compte</h3>  -->

<!--<p>Unhappy? <%#= button_to "Supprimer le Compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete %></p>   -->
