<% content_for :box_width, "col-md-8" %>

<% content_for :page_title do %>
    Nouveau utilisateur
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'from-inline'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="box-body">
    <div class="row">
      <div class="form-group">
        <%= f.label :nom, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.text_field :nom, :class => 'form-control'%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.label :email, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.email_field :email, :class => 'form-control', placeholder: :Email, autofocus: true%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :password, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.password_field :password, :class => 'form-control', placeholder: "#{@minimum_password_length} characters minimum" if @minimum_password_length%>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, :class => 'form-control'%>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> S'inscrire
      </button>
    </div>

</div>

<% end %>

<%= render "devise/shared/links" %>
