// Colors
$color-1: #222D32;
$color-2: #01D573;
$color-3: #F39C12;
$color-4: #25AAE1;
$color-5: #DD4B39;
$color-6: #FFFFFF;


$color-1-lighten: lighten($color-1, 10%);


.blue {
  color: $color-4;
}
.red {
  color: $color-5;
}
.orange {
  color: $color-3;
}