<%= form_for([@visite.contrat, @visite]) do |f| %>
  <% if @visite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visite.errors.count, "error") %> prohibited this visite from being saved:</h2>

      <ul>
      <% @visite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :contrat_id %><br>
    <%= f.text_field :contrat_id %>
  </div>
  <div class="field">
    <%= f.label :intervenant_id %><br>
    <%= f.text_field :intervenant_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :date_interventive %><br>
    <%= f.date_select :date_interventive %>
  </div>
  <div class="field">
    <%= f.label :compte_rendu %><br>
    <%= f.text_area :compte_rendu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
