<% content_for :box_width, "col-md-12" %>

<% content_for :page_title do %>
  Liste Visites
<% end %>


<%= form_for @contrat do |f| %>
  <div class="box-body index-visites">
      <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Contrat</th>
          <th>Intervenant</th>
          <th>Date Préventive</th>
          <th>Date Interventive</th>
          <th>Priorité</th>
          <th>Compte Rendu</th>
          <th class=" no-sort">Supprimer<%#= fa_stacked_icon "trash inverse", base: "square", class: "report fa-1x" %></th>
        </tr>
        </thead>

        <tbody>
        <%= f.fields_for :visites do |visit_form| %>
        <%# @visites.each_with_index do |visite, index| %>
          <tr>
            <th style="width: 80px;"><%= "Visite # #{visit_form.options[:child_index] + 1}" %></th>
            <td><%= @contrat.numero %></td>
            <td>
              <%= visit_form.collection_select(:intervenant_id, @intervenants, :id, :nom, {}, { :class => 'select2 select2-custom' })%>
            </td>
            <td>
              <div class="input-group date">
                <%= visit_form.text_field :date, :class => 'form-control pull-right datepicker', placeholder: 'Date Préventive' %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </td>
            <td>
              <div class="input-group date">
                <%= visit_form.text_field :date_interventive, :class => 'form-control pull-right datepicker', placeholder: 'Date Interventive' %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </td>
            <td>
              <div class="input-group">
                <%= select_tag("contrat[visites_attributes][#{visit_form.options[:child_index]}][color]", options_for_select_with_color(nil, visit_form.object.color), :class => 'selectpicker') %>
              </div>
            </td>
            <td class="actions">
              <% if :date %>
                <%= link_to '#', {'data-toggle' => "modal", 'data-target' => "#compte-rendu-visite#{visit_form.object.id}"} do %>
                  <%= fa_stacked_icon "comments inverse", base: "circle", class: "report fa-1x" %>
                <% end %>
              <% end %>
            </td>
            <td style="text-align: center;">
              <%= visit_form.check_box :_destroy, class: 'icheck', 'data-skin' => "minimal", 'data-color' => "red"  %>
            </td>
          </tr>
          <%# end %>
          <% end %>
        </tbody>
      </table>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">
        <i class="fa fa-refresh" aria-hidden="true"></i> Valider
      </button>
      <a href="<%= contrats_url %>" class="btn btn-default pull-right">
        <i class="fa fa-times" aria-hidden="true"></i> Annuler
      </a>
    </div>
  </div>
<% end %>

<% @visites.each do |visite| %>
<div class="modal fade" id="compte-rendu-visite<%= visite.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <%= form_for([@contrat, visite]) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edition Compte Rendu</h4>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>N˚ Contrat :</dt>
              <dd><%= visite.contrat.numero %></dd>
              <dt>Date Debut :</dt>
              <dd><%= visite.contrat.date_debut %></dd>
              <dt>Intervenant :</dt>
              <dd><%= visite.contrat.intervenant.nom %></dd>
            </dl>
          </div>

          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>Client :</dt>
              <dd><%= visite.contrat.client.raison_social %></dd>
              <dt>Date Fin :</dt>
              <dd><%= visite.contrat.date_fin %></dd>
              <dt>Nombre Visites :</dt>
              <dd><%= visite.contrat.nombre_visites %></dd>
            </dl>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.label :compte_rendu, :class => 'control-label' %>
            <div class="">
              <%= f.text_area :compte_rendu, cols: 40, rows: 8, :class => 'form-control', placeholder: :compte_rendu %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Annuler
        </button>
        <button type="submit" class="btn btn-primary pull-right">
          <i class="fa fa-refresh" aria-hidden="true"></i> Valider
        </button>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>