<p id="notice"><%= notice %></p>


<% content_for :page_title do %>
  Liste Visites
<% end %>

<div class="box-body">
  <table class="table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>Contrat</th>
        <th>Intervenant</th>
        <th>Date</th>
        <th>Compte rendu</th>
      </tr>
    </thead>

    <tbody>
      <% @visites.each do |visite| %>
        <tr>
          <td><%= visite.contrat.numero %></td>
          <td><%= visite.intervenant.nom %></td>
          <td><%= visite.date %></td>
          <td><%= visite.compte_rendu %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>