
.box{
}

.box.box-primary{
  border-top-color: $color-1;
}

.from-inline {
  .row {
    margin-bottom: 10px;
    .control-label {
      padding-top: 5px;
      text-align: right;
    }
    .form-group {
      margin-bottom: 0px;
    }
  }
  .uppercase-input {
    text-transform: uppercase
  }
  .select2-custom {
    width: 100% !important;
  }
  .select2-selection {
    border-radius: 0;
    border: 1px solid #d2d6de;
  }
  .form-control {

    border-radius: 0 !important;
  }
}

.btn {
  margin: 0 5px;
}
.btn-primary {
  background-color: $color-1;
}
.btn-primary:hover {
  background-color: $color-1-lighten;
}

.actions {
  //float: right;
  display: block;
  text-align: center;
  min-width: 100px;
  .fa-circle {
    color: $color-1;
  }
  a:hover .delete .fa-circle{
    color: red;
  }
  a:hover .edit .fa-circle{
    color: $color-2;
  }
  a:hover .visit .fa-circle{
    color: $color-3;
  }
  a:hover .report .fa-circle{
    color: $color-4;
  }
}

//Links
.skin-black .treeview-menu > li.active > a.active,
.skin-black .treeview-menu > li > a:hover,
.skin-black .treeview-menu > li > a.active {
  color: #ffffff;
}

.sidebar .sidebar-menu .active .treeview-menu {
  display: block;
}

input[type='number']{
  width: 100%;
}


.index-visites {
  .form-control,
  .select2-container--bootstrap .select2-selection--single {
    height: 28px;
  }

  .select2-custom {
    width: 200px !important;
  }
  .input-group.date .input-group-addon i{
    height: 14px;
  }
  .actions {
    .report {
      //text-align: center;
      //display: block;
    }
  }
}

.dl-horizontal {
  dt {
    width: inherit;
    min-width: 100px;
  }
  dd {
    margin-left: 120px;
  }
}


// Tables
.table > thead > tr > th {
  //border-bottom: 2px solid #ddd;
}

pre {
  white-space: pre-wrap;
  word-break: normal;
}


// Forms
label.required:after,
input[required='required']:after{
  content:" *";
  color: red;
}


// Buttons
.disconnect {
  background-color: #c50303;
  border-color: #c50303;
  color: #fff;
  color: #fff !important;
}

.disconnect:hover,
.disconnect:focus {
  background-color: #c50303;
  border-color: #c50303;
  color: #fff !important;
}

.btn-primary,
.btn-primary:focus  {
  background-color: $color-1;
}


.selectpicker {
  .default {
    border-radius: 3px;
    color: $color-6;
    border: 1px solid #B7B0B0;
    padding: 1px 2px;
    background: $color-6;
  }
  .warning {
    border-radius: 3px;
    color: $color-3;
    border: 1px solid $color-3;
    padding: 1px 2px;
    background: $color-3;
  }
  .red {
    border-radius: 3px;
    color: $color-5;
    border: 1px solid $color-5;
    padding: 1px 2px;
    background: $color-5;
  }
}

.select2-container {
  width: 100% !important;
}

.modal-dialog{
  width: 700px;
  .datepicker {
    z-index: 1151 !important;
  }
  dl {
    margin-bottom: 0;
  }
}