<div class="form-buttons filter-actions actions">
	<button type="submit" class="btn btn-default">
	  <span class="fa fa-refresh"></span> <%= t('update')%>
	</button>
  &nbsp;
  <a href="<%= collection_url %>" class="btn btn-default">
	  <span class="fa fa-remove"></span> <%= t('cancel')%>
  </a>
</div>