<div class="form-buttons filter-actions actions">
	<button type="submit" class="btn btn-default">
	  <span class="fa fa-ok"></span> <%= t('create')%>
	</button>
  &nbsp;
  <a href="<%= collection_url %>" class="btn btn-default">
	  <span class="fa fa-remove"></span> <%= t('cancel')%>
  </a>
</div>

<div class="box-footer">
  <a type="submit" class="btn btn-primary pull-right">
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
  </a>
  <button type="submit" class="btn btn-default pull-right">
    <i class="fa fa-times" aria-hidden="true"></i> Annuler
  </button>
</div>