<% if content_for?(:right_sidebar) %>
  <aside>

    <% if content_for?(:right_sidebar_title) %>
      <h5 class="right-sidebar-title"><span><%= yield :right_sidebar_title %></span></h5>
    <% end %>

    <%= yield :right_sidebar %>
  </aside>
<% end %>