
<% content_for :box_width, "col-md-8" %>


<%= form_for(@client,:html => { :class => 'from-inline'}) do |f| %>
  <div class="box-body">

    <div class="row">
      <div class="form-group">
        <%= f.label :code, class: 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.text_field :code, :class => 'form-control', placeholder: :code, :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :raison_social, class: 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.text_field :raison_social, :class => 'form-control uppercase-input', placeholder: :raison_social, :required => true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Téléphone', class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.telephone_field :telephone, :class => 'form-control', placeholder: :telephone %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :fax, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.telephone_field :fax, :class => 'form-control', placeholder: :fax%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :contact, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :contact, :class => 'form-control', placeholder: :contact %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_field :email, :class => 'form-control', placeholder: :email %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Région', class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.collection_select(:region_id, Region.all, :id, :nom, {}, { :class => 'select2 select2-custom' })%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :adresse, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_area :adresse, :class => 'form-control', placeholder: :adresse %>
        </div>
      </div>
    </div>


  </div>


  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
    </button>
    <a href="<%= clients_url %>" class="btn btn-default pull-right">
      <i class="fa fa-times" aria-hidden="true"></i> Annuler
    </a>
  </div>
<% end %>