<% content_for :box_width, "col-md-12" %>

<% content_for :page_title do %>
  Liste Clients
<% end %>

<div class="box-body">
  <table class="sortable datatable table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Raison Social</th>
        <th>Téléphone</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Région</th>
        <td class="actions no-sort"></td>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.code %></td>
          <td><%= client.raison_social %></td>
          <td><%= client.telephone %></td>
          <td><%= client.contact %></td>
          <td><%= client.email %></td>
          <td><%= client.region.nom if client.region %></td>
          <td class="actions">
            <%= link_to edit_client_path(client) do %>
              <%= fa_stacked_icon "pencil inverse", base: "circle", class: "edit fa-1x" %>
            <% end %>

            <%= link_to client, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet élément?' } do %>
              <%= fa_stacked_icon "trash inverse", base: "circle", class: "delete fa-1x" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_client_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus' %> Nouveau Client
  <% end %>
</div>
