<% content_for :page_title do %>
  Liste Type Contrats
<% end %>

<div class="box-body">
  <table class="sortable datatable table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Nombre Intervention</th>
        <td class="actions no-sort"></td>
      </tr>
    </thead>

    <tbody>
      <% @type_contrats.each do |type_contrat| %>
        <tr>
          <td><%= type_contrat.nom %></td>
          <td><%= type_contrat.nombre_intervention %></td>
          <td class="actions">
            <%= link_to edit_type_contrat_path(type_contrat) do %>
              <%= fa_stacked_icon "pencil inverse", base: "circle", class: "edit fa-1x" %>
            <% end %>

            <%= link_to type_contrat, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet élément?' } do %>
              <%= fa_stacked_icon "trash inverse", base: "circle", class: "delete fa-1x" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_type_contrat_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus' %> Nouveau Type Contrat
  <% end %>
</div>

