<div class="col-md-2">
  <div class="box box-primary">
    <div class="box-body">
      <nav class="right_sidebar">
        <br/>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <%= active_link_to contrats_path do %>
              <%= fa_icon 'sliders' %> Contrats
            <% end %>
          </li>
          <li>
            <%= active_link_to apercu_path do %>
              <%= fa_icon 'eye' %> Aperçu
            <% end %>
          </li>
          <li>
            <%= active_link_to print_contrats_path(format: 'pdf'), target: "_blank" do %>
              <%= fa_icon 'print' %> Imprimer
            <% end %>
          </li>
          <li>
            <%= active_link_to print_visites_path(format: 'pdf'), target: "_blank" do %>
              <%= fa_icon 'calendar' %> Visites
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>