
<% content_for :box_width, "col-md-9" %>


<%= form_for(@contrat,:html => { :class => 'from-inline'}) do |f| %>
  <div class="box-body">

    <div class="row">
      <div class="form-group">
        <%= f.label :numero, :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.text_field :numero, :class => 'form-control', placeholder: :numero, :required => true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Client', :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.collection_select(:client_id, Client.all, :id, :raison_social, {:selected => @contrat.client_id, :include_blank => true}, { :class => 'select2 select2-custom', :required => true })%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label 'Type Contrat', :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.collection_select(:type_contrat_id, TypeContrat.all, :id, :nom, {:selected => @contrat.type_contrat_id, :include_blank => true}, { :class => 'select2 select2-custom', :required => true })%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Intervenant', :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <%= f.collection_select(:intervenant_id, Intervenant.all, :id, :nom, {:selected => @contrat.intervenant_id, :include_blank => true}, { :class => 'select2 select2-custom', :required => true })%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label "Date Creation", :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <div class="input-group date">
            <%= f.text_field :date_creation, :class => 'form-control pull-right datepicker', placeholder: 'Date Creation', :required => true %>
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :nombre_incidents, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.number_field :nombre_incidents, :class => 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label "Date Debut", :class => 'col-sm-2 control-label required' %>
        <div class="col-sm-4">
          <div class="input-group date">
            <%= f.text_field :date_debut, :class => 'form-control pull-right datepicker', placeholder: 'Date Debut', :required => true %>
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :nombre_visites, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.number_field :nombre_visites, :class => 'form-control'   %>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="form-group">
          <%= f.label "Date Fin", :class => 'col-sm-2 control-label required' %>
          <div class="col-sm-4">
            <div class="input-group date">
              <%= f.text_field :date_fin, :class => 'form-control pull-right datepicker', placeholder: 'Date Fin' , :required => true%>
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :montant, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.number_field :montant, :class => 'form-control', :step => '0.01' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :main_oeuvre, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.check_box :main_oeuvre, class: 'icheck', 'data-skin' => "square"  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :resile, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.check_box :resile, class: 'icheck', 'data-skin' => "square"  %>
          </div>
        </div>
      </div>

    <div class="row">

      <div class="form-group">
        <%= f.label :piece_rechange, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.check_box :piece_rechange, class: 'icheck', 'data-skin' => "square"  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :cause_resile, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= f.text_area :cause_resile, :class => 'form-control', placeholder: :cause_resile, :readonly => !f.object.resile %>
        </div>
      </div>
    </div>


  </div>


  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
    </button>
    <a href="<%= contrats_url %>" class="btn btn-default pull-right">
      <i class="fa fa-times" aria-hidden="true"></i> Annuler
    </a>
  </div>
<% end %>