<% content_for :box_width, "col-md-12" %>
<% content_for :page_title do %>
  Liste contrats
<% end %>


<div class="box-body apercu-contrats">
  <table class="ddatatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Contrat</th>
        <th>Client</th>
        <th>Date Création</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Type Contrat</th>
        <th>Intervenant</th>
        <th>Main Oeuvre</th>
        <th>Pièces</th>
        <th>Nbr Incidents</th>
        <th>Nbr Visites</th>
        <th>Résilier</th>
        <th>Montant</th>
      </tr>
    </thead>

    <tbody>
      <% @contrats.each do |contrat| %>
        <tr style="<%= 'background-color: #FEFD9F' if contrat.resile %> <%= 'background-color: #FBCCD4' if contrat.isTerminated and !contrat.resile %>">
          <td><%= contrat.numero %></td>
          <td><%= contrat.client.raison_social if contrat.client %></td>
          <td><%= contrat.date_creation %></td>
          <td><%= contrat.date_debut %></td>
          <td style="<%= 'font-weight:bold' if contrat.isTerminated or contrat.resile %>"><%= contrat.date_fin %></td>
          <td><%= truncate(contrat.type_contrat.nom, :length => 15) %></td>
          <td><%= contrat.intervenant.nom %></td>
          <td style="text-align: center;">
            <%= check_box_tag 'contrat[main_oeuvre]', contrat.main_oeuvre, contrat.main_oeuvre, class: 'iicheck', 'data-skin' => "square",
                              onchange: "$(this).data('params', 'main_oeuvre=' + this.checked)",
                              data: {
                                      remote: true,
                                      url: url_for(action: :update_main_oeuvre, id: contrat.id),
                                      method: "POST"
                              }   %>
          </td>
              <td style="text-align: center;">
            <%= check_box_tag 'contrat[piece_rechange]', contrat.piece_rechange, contrat.piece_rechange, class: 'iicheck', 'data-skin' => "square",
                              onchange: "$(this).data('params', 'piece_rechange=' + this.checked)",
                              data: {
                                      remote: true,
                                      url: url_for(action: :update_piece_rechange, id: contrat.id),
                                      method: "POST"
                              }   %>
          </td>
              <td style="text-align: center;"><%= contrat.nombre_incidents %></td>
              <td style="text-align: center;"><%= contrat.nombre_visites %></td>
          <td style="text-align: center;<%= 'font-weight:bold' if contrat.resile %>">
            <%= contrat.resile_presentation %>
            <%#= check_box_tag 'contrat[resile]', contrat.resile, contrat.resile, class: 'iicheck', 'data-skin' => "square",
                              onchange: "$(this).data('params', 'resile=' + this.checked)",
                              data: {
                                      remote: true,
                                      url: url_for(action: :update_resile, id: contrat.id),
                                      method: "POST"
                              }   %>
            <%#= check_box_tag 'contrat[resile]', contrat.resile, contrat.resile, class: 'iicheck', 'data-skin' => "square"  %>
          </td>
          <td style="text-align: right;"><%= number_to_currency(contrat.montant) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
