<% content_for :box_width, "col-md-12" %>
<% content_for :page_title do %>
  Liste contrats
<% end %>

<div class="box-body">
  <table class="sortable datatable table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>N˚ Contrat</th>
        <th>Client</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Type Contrat</th>
        <th>Montant</th>
        <td class="actions no-sort"></td>
      </tr>
    </thead>

    <tbody>
      <% @contrats.each do |contrat| %>
        <tr>
          <td><%= contrat.numero %></td>
          <td><%= contrat.client.raison_social if contrat.client %></td>
          <td><%= contrat.date_debut %></td>
          <td><%= contrat.date_fin %></td>
          <td><%= contrat.type_contrat.nom if contrat.type_contrat %></td>
          <td style="text-align: right;;"><%= number_to_currency(contrat.montant) %></td>
          <td class="actions">

            <%= link_to contrat_visites_path(contrat) do %>
              <%= fa_stacked_icon "calendar-check-o inverse", base: "circle", class: "visit fa-1x" %>
            <% end %>

            <%= link_to edit_contrat_path(contrat) do %>
              <%= fa_stacked_icon "pencil inverse", base: "circle", class: "edit fa-1x" %>
            <% end %>

            <%= link_to contrat, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet élément?' } do %>
              <%= fa_stacked_icon "trash inverse", base: "circle", class: "delete fa-1x" %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_contrat_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus' %> Nouveau contrat
  <% end %>
</div>

