<% content_for :box_width, "col-md-12" %>
<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Tableau de board</h4>
  </div>
</div>
<div class="box-body">
  Tableau de board contenue
</div>


