<% content_for :box_width, "col-md-12" %>

<% content_for :page_title do %>
  Visites Préventives
<% end %>

<section class="content">
  <div class="row">
    <div id="calendar"></div>
  </div>
  <!-- /.row -->
</section>


<!-- Modal - Update compte rendu -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for([@contrat1, @visite1], :html => { :class => 'from-inline'} ) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details Visite <span id="eventModalTitle"></span></h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>N˚ Contrat :</dt>
              <dd id="eventNumContrat"></dd>
              <dt>Date Debut :</dt>
              <dd id="eventDateDebut"></dd>
              <dt>Intervenant :</dt>
              <dd id="eventIntervenant"></dd>
              <dt>Date Préventive :</dt>
              <dd id="eventDatePreventive"></dd>
            </dl>
          </div>

          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>Client :</dt>
              <dd id="eventClient"></dd>
              <dt>Date Fin :</dt>
              <dd id="eventDateFin"></dd>
              <dt>Nombre Visites :</dt>
              <dd id="eventNbrVisites"></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-6"></div>
          </div>
          <div class="form-group">
            <%= f.label 'Date Interventive :', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-3">
              <div class="input-group date">
                <%= f.text_field :date_interventive, :class => 'form-control pull-right datepicker', placeholder: 'Date Interventive' %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="control-label">
              <b>Compte rendu:</b>
            </span>
            <div>
              <%= text_area_tag 'compte_rendu', nil, size: "25x10", :class => 'form-control' %>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times inverse" aria-hidden="true"></i> Fermer
        </button>
      </div>
    <% end %>
    </div>
  </div>
</div>



<!-- Modal - Create new visit -->
<div class="modal fade" id="eventNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for([@contrat, @visite], :html => { :class => 'from-inline'} ) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Créer une nouvelle visite <span id="eventModalTitle"></span></h4>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="form-group">
            <%= f.label 'Contrat', :class => 'col-sm-3 control-label required' %>
            <div class="col-sm-3">
              <%= f.collection_select(:contrat_id, @contrats, :id, :numero, {:selected => @contrat.type_contrat_id, :include_blank => true}, { :class => 'select2 select2-custom', :required => true })%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Intervenant', :class => 'col-sm-3 control-label required' %>
            <div class="col-sm-3">
              <%= f.collection_select(:intervenant_id, @intervenants, :id, :nom, {:selected => @contrat.intervenant_id, :include_blank => true}, { :class => 'select2 select2-custom', :required => true })%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label 'Date Préventive', :class => 'col-sm-3 control-label required' %>
            <div class="col-sm-3">
              <div class="input-group date">
                <%= f.text_field :date, :class => 'form-control pull-right datepicker', placeholder: 'Date Préventive' %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Date Interventive', :class => 'col-sm-3 control-label required' %>
            <div class="col-sm-3">
              <div class="input-group date">
                <%= f.text_field :date_interventive, :class => 'form-control pull-right datepicker', placeholder: 'Date Interventive' %>
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <%= f.label 'Priorité', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-3">
              <div class="input-group">
                <%= select_tag("visite_color", options_for_select_with_color(nil, f.object.color), :class => 'selectpicker') %>
              </div>
            </div>
          </div>
        </div>

    </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times inverse" aria-hidden="true"></i> Fermer
        </button>
      </div>
    <% end %>
  </div>
  </div>
</div>