<% content_for :page_title do %>
  Liste Spécialités
<% end %>

<div class="box-body">
  <table class="sortable datatable table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <td class="actions no-sort"></td>
      </tr>
    </thead>

    <tbody>
      <% @specialites.each do |specialite| %>
        <tr>
          <td><%= specialite.nom %></td>
          <td class="actions">
            <%= link_to edit_specialite_path(specialite) do %>
              <%= fa_stacked_icon "pencil inverse", base: "circle", class: "edit fa-1x" %>
            <% end %>

            <%= link_to specialite, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet élément?' } do %>
              <%= fa_stacked_icon "trash inverse", base: "circle", class: "delete fa-1x" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_specialite_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus' %> Nouvelle Spécialité
  <% end %>
</div>
