.apercu-contrats {
  overflow: auto;
  height: 600px;
  //width: 00px;
  font-size: 12px;
  overflow-x: auto;
  white-space: nowrap;
  //table {
  //  width: 100%;
  //  display:block;
  //}
  //thead {
  //  display: inline-block;
  //  width: 100%;
  //  height: 20px;
  //}
  tbody {
    //height: 500px;
    //display: inline-block;
    //width: 100%;
    //overflow: auto;
    tr > td {
      padding: 2px;
    }
  }


}
