
<!-- /.box-header -->
<%= form_for(@region,:html => { :class => 'from-inline'}) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
        <% @region.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box-body">
    <div class="row">
      <div class="form-group">
        <%= f.label :nom, class: 'col-sm-2 control-label required' %>
        <div class="col-sm-10">
          <%= f.text_field :nom, :class => 'form-control', placeholder: :nom, :required => true %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Valider
    </button>
    <a href="<%= regions_url %>" class="btn btn-default pull-right">
      <i class="fa fa-times" aria-hidden="true"></i> Annuler
    </a>
  </div>
<% end %>
