<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "user-women160x160.png", :class => "img-circle", :alt => "User Image" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.nom if current_user %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> En Ligne</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU PRINCIPAL</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Tableaux de bord</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul style="display: none;" class="treeview-menu">

          <%= active_link_to dashboards_tableau_board_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Général</span>
          <% end %>
          <%#= active_link_to dashboards_visites_preventive_path, :wrap_tag => :li do %>
          <%= active_link_to root_path, :wrap_tag => :li, :active => :exclusive do %>
            <%= fa_icon "calendar-check-o" %> <span>Visites Préventive</span>
          <% end %>

          <%= active_link_to apercu_path, :wrap_tag => :li do %>
            <%= fa_icon "file-text-o" %> <span>Liste Contrats</span>
          <% end %>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-gears"></i>
          <span>Paramétrage</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul style="display: none;" class="treeview-menu">

          <%= active_link_to contrats_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Contrats</span>
          <% end %>

          <%= active_link_to clients_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Clients</span>
          <% end %>

          <%= active_link_to intervenants_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Intervenants</span>
          <% end %>

          <%= active_link_to regions_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Régions</span>
          <% end %>

          <%= active_link_to qualites_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Qualités</span>
          <% end %>

          <%= active_link_to specialites_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Spécialités</span>
          <% end %>
          <%= active_link_to type_contrats_path, :wrap_tag => :li do %>
            <%= fa_icon "circle-o" %> <span>Types Contrat</span>
          <% end %>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
