<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">G<b>CR</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">Gestion<b>Contrats</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!--<li class="dropdown messages-menu">-->
          <!--&lt;!&ndash; Menu toggle button &ndash;&gt;-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="fa fa-envelope-o"></i>-->
            <!--<span class="label label-success">4</span>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li class="header">You have 4 messages</li>-->
            <!--<li>-->
              <!--&lt;!&ndash; inner menu: contains the messages &ndash;&gt;-->
              <!--<ul class="menu">-->
                <!--<li>&lt;!&ndash; start message &ndash;&gt;-->
                  <!--<a href="#">-->
                    <!--<div class="pull-left">-->
                      <!--&lt;!&ndash; User Image &ndash;&gt;-->
                      <!--<%#= image_tag "user-women160x160.png", :class => "img-circle", :alt => "User Image" %>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; Message title and timestamp &ndash;&gt;-->
                    <!--<h4>-->
                      <!--Support Team-->
                      <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                    <!--</h4>-->
                    <!--&lt;!&ndash; The message &ndash;&gt;-->
                    <!--<p>Why not buy a new awesome theme?</p>-->
                  <!--</a>-->
                <!--</li>&lt;!&ndash; end message &ndash;&gt;-->
              <!--</ul>&lt;!&ndash; /.menu &ndash;&gt;-->
            <!--</li>-->
            <!--<li class="footer"><a href="#">See All Messages</a></li>-->
          <!--</ul>-->
        <!--</li>&lt;!&ndash; /.messages-menu &ndash;&gt;-->

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning"><%= @notification_count %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Vous avez <%= @notification_count %> notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <!-- start notification -->
                <% if @not1_visites_by_today.count > 0 %>
                  <li>
                    <%= link_to root_path do %>
                      <i class="fa fa-calendar-check-o orange"></i> <%= @not1_visites_by_today.count %> Visites planifier pour aujourd'huit
                    <% end %>
                  </li>
                <% end %>
                <% if @not1_visites_by_this_month.count > 0 %>
                  <li>
                    <%= link_to root_path do %>
                      <i class="fa fa-calendar blue"></i> <%= @not1_visites_by_this_month.count %> Visites planifier pour ce mois
                    <% end %>
                  </li>
                <% end %>
                <% if @not1_terminate_5_weeks_from_now.count > 0 %>
                  <% @not1_terminate_5_weeks_from_now.each do |contrat| %>
                  <li>
                    <%= link_to edit_contrat_path(contrat) do %>
                      <i class="fa fa-exclamation-triangle red"></i> <%= contrat.numero %> Prendra fin bientôt
                    <% end %>
                  </li>
                  <% end %>
                <% end %>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer"><a href="#">Afficher tout</a></li>
          </ul>
        </li>

        <!-- Tasks Menu -->
        <!--<li class="dropdown tasks-menu">-->
          <!--&lt;!&ndash; Menu Toggle Button &ndash;&gt;-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="fa fa-flag-o"></i>-->
            <!--<span class="label label-danger">9</span>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li class="header">You have 9 tasks</li>-->
            <!--<li>-->
              <!--&lt;!&ndash; Inner menu: contains the tasks &ndash;&gt;-->
              <!--<ul class="menu">-->
                <!--<li>&lt;!&ndash; Task item &ndash;&gt;-->
                  <!--<a href="#">-->
                    <!--&lt;!&ndash; Task title and progress text &ndash;&gt;-->
                    <!--<h3>-->
                      <!--Design some buttons-->
                      <!--<small class="pull-right">20%</small>-->
                    <!--</h3>-->
                    <!--&lt;!&ndash; The progress bar &ndash;&gt;-->
                    <!--<div class="progress xs">-->
                      <!--&lt;!&ndash; Change the css width attribute to simulate progress &ndash;&gt;-->
                      <!--<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                        <!--<span class="sr-only">20% Complete</span>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>&lt;!&ndash; end task item &ndash;&gt;-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="footer">-->
              <!--<a href="#">View all tasks</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag "user-women160x160.png", :class => "user-image", :alt => "User Image" %>
            <span class="hidden-xs"><%= current_user.nom if current_user %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <%= image_tag "user-women160x160.png", :class => "img-circle", :alt => "User Image" %>

              <p>
                <%= current_user.nom if current_user %> <br> Relation Clientèle
                <small>Expérience 2 ans</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profil", edit_user_registration_path, :class => 'btn btn-default btn-flat' %>
              </div>
              <div class="pull-right">
                <%= link_to destroy_user_session_path, :method => :delete, :class => 'btn btn-default btn-flat disconnect' do %>
                  <%= fa_icon "power-off" %> Se Déconnecter
                <% end %>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-print"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
