<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Inscription | GestionContrats</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/">Gestion<b>Contrat</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inscrivez-vous pour commencer votre session</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group has-feedback">
      <%= f.text_field :nom, class: 'form-control', autofocus: true, placeholder: 'Nom Complet' %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

    <div class="form-group has-feedback">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'Mot de passe' %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Confirmation du mot de passe ' %>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">

                  <div class="col-xs-8">
                    <%= link_to 'Se Connecter', new_user_session_path %>
                  </div>
                  <div class="col-xs-4">
                    <%= f.submit 'Souscrire', class: 'btn btn-primary btn-block btn-flat' %>
                      </div><!-- /.col -->
                      </div>
                    <% end %>
                    </div><!-- /.login-box-body -->
                    </div><!-- /.login-box -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if devise_error_messages! != '' %>
<script type="text/javascript">
  toastr.error('<%= raw devise_error_messages!.squish %>');
</script>
<% end %>
</body>
</html>