<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <% if content_for?(:page_title) %>
      <%= yield :page_title %> | GestionContrat
    <% else %>
      Gestion Contrat
    <% end %>
  </title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body class="skin-black sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>">
  <div class="wrapper">

    <%= render partial: 'layouts/admin_lte_2_header' %>

    <%= render partial: 'layouts/admin_lte_2_sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          <%= yield :page_title %>
          <small></small>
        </h1>
        <!--<ol class="breadcrumb">-->
          <!--<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>-->
          <!--<li class="active">Here</li>-->
        <!--</ol>-->
      </section>

      <!-- Main content -->
      <section class="content">


        <% if alert %>
          <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><%= alert %></b>
          </div>
        <% end %>
        <div class="row">
          <div class=<%= set_box_width %>>
            <div class="box box-primary">
              <%= yield %>
            </div>
          </div>
          <%= render :partial => 'shared/right_sidebar' %>
        </div>
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        <b><%= (l Time.now, format: :long).to_s.capitalize %> </b>
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2016 <a href="http://www.dyna-info.com/" target="_blank">Dyna Info</a>.</strong> Tous les droits sont réservés.
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-print-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-print"></i></a></li>
          <li class=""><a href="#control-sidebar-settings-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-print-tab">
            <h3 class="control-sidebar-heading"><b>Zone Impression</b></h3>
            <!--<ul class="control-sidebar-menu">-->
              <!--<li>-->
                <!--<a href="javascript::;">-->
                  <!--<i class="menu-icon fa fa-birthday-cake bg-red"></i>-->
                  <!--<div class="menu-info">-->
                    <!--<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>-->
                    <!--<p>Will be 23 on April 24th</p>-->
                  <!--</div>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>&lt;!&ndash; /.control-sidebar-menu &ndash;&gt;-->

            <!--<h3 class="control-sidebar-heading">Impression</h3>-->
            <ul class="control-sidebar-menu">
              <li>
                <%= active_link_to apercu_path do %>
                  <h4 class="control-sidebar-subheading">
                    <%= fa_icon 'eye' %> Aperçu Contrats
                  </h4>
                  <!--<div class="progress progress-xxs">-->
                  <!--<div class="progress-bar progress-bar-danger" style="width: 70%"></div>-->
                  <!--</div>-->
                <% end %>
              </li>
              <li>
                <%= active_link_to print_contrats_path(format: 'pdf'), target: "_blank" do %>
                  <h4 class="control-sidebar-subheading">
                    <%= fa_icon 'print' %> Impression Contrats
                  </h4>
                  <!--<div class="progress progress-xxs">-->
                  <!--<div class="progress-bar progress-bar-danger" style="width: 70%"></div>-->
                  <!--</div>-->
                <% end %>
              </li>
              <li>
                <%= active_link_to print_visites_path(format: 'pdf'), target: "_blank" do %>
                  <h4 class="control-sidebar-subheading">
                    <%= fa_icon 'calendar' %> Impression Visites
                  </h4>
                  <!--<div class="progress progress-xxs">-->
                  <!--<div class="progress-bar progress-bar-danger" style="width: 70%"></div>-->
                  <!--</div>-->
                <% end %>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">Paramètres Général</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  <!--Report panel usage-->
                  <!--<input type="checkbox" class="pull-right" checked="">-->
                </label>
                <p>
                  ...
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside>

      <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>

  </div><!-- ./wrapper -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if notice %>
  <!--<div class="alert alert-success alert-dismissable">-->
  <!--<i class="fa fa-check"></i>-->
  <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
  <!--<b><%#= notice %></b>-->
  <!--</div>-->

  <script type="text/javascript">
    toastr.success('<%= notice %>')
  </script>
<% end %>


</body>
</html>
