<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Log In | GestionContrats</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/">Gestion<b>Contrat</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Connectez-vous pour commencer votre session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'Mot de passe' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="d">
            <label>
              <input type="checkbox" class='icheck' data-skin="square" data-color="blue"> Rester Connecté
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit 'Log in', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
      </div>
      <div class="row">
        <div class="col-xs-8">
          <%= link_to 'Inscrivez-vous', new_user_registration_path %>
        </div>
      </div>

    <% end %>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if devise_error_messages! != '' %>
  <script type="text/javascript">
    toastr.error('<%= raw devise_error_messages!.squish %>');
  </script>
<% end %>
<% if alert %>
  <script type="text/javascript">
    toastr.warning('<%= alert %>');
  </script>
<% end %>
</body>
</html>
